*{
    margin:0;
    padding:0;
    font-family: 'Lato',Arial, sans-serif;
    
}

section.home-top {
    width: 100%;
    margin: auto;
    position: relative;
    background-color: #f7f7f7;
    height: 644px;
    z-index: 1;
}

span.tagline {font-size: 18px;line-height: 22px;width: 75%;display: block;margin: 50px auto 60px;color: #696d70;}

h1.logo {}

.search-container {
    text-align: center;
    top: 160px;
    position: relative;
    margin: auto;
    width: 800px;
    padding-right: 420px;
}

h1.logo {
}

.home-top-log a {
    color: black;
    border-right: 1px solid #80808082;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
}

.home-top-log {
    position: absolute;
    right: 0;
    padding: 10px 10px;
}

.home-top-bg {
    background: url(images/index_bg01.jpg);
    max-width: 1440px;
    margin: auto;
    position: relative;
    height: 644px;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    width: 100%;
}